/* globals.css */
@import "tailwindcss"; 

/* Import Tailwind's layers */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --font-logo: 'Montserrat', sans-serif;
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
  }

  body {
    font-family: var(--font-body);
    background-color: #FFFCF1;
  }  
  
  .logo {
    font-family: var(--font-logo);
    font-weight: 700;
  }
  
  h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 700;
  }

  p, small, nav a, button {
    font-family: var(--font-body);
  }
}
